<div class="row">
  <div class="mainContainer col-lg-8">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <h2 class="page-header">Edit Accounts</h2>
        <div class="row">
          <div class="col-lg-10 col-lg-offset-1">
            <input type="text" placeholder="name" class="form-control" ng-model="userForEdit.name"><br>
            <input type="text" placeholder="deposit" class="form-control" ng-model="userForEdit.deposit"><br>
            <input type="text" placeholder="credit card" class="form-control" ng-model="userForEdit.cCard"><br>
            <a href="#/allAccounts"><input type="submit" name="insert" class="btn btn-primary form-control" value="Add Account" ng-click="editAccount()"></a><br><br>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="infoContainer col-lg-4">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <h2 class="page-header">Easy to use</h2>
      </div>
    </div>
  </div>
</div>
